body {
   padding: 0;
   margin: 0;
   font-family: sans-serif
}

main {
   padding: 1rem;
}

.main-header{
   width: 100%;
   height: 3.5rem;
   background-color: #e7c713;
   padding: 0 1.5 rem;
}

.main-header__item-list {
   list-style: none;
   margin: 0;
   padding: 0;
   height: 100%;
   display: flex;
   align-items: center;
}

.main-header__item {
   margin: 0 1rem;
   padding: 0;
}

.main-header__item a {
   text-decoration: none;
   color: black;
   font-size: 1.2rem;
   margin: 0 1rem;
}

.main-header__nav {
   height: 100%;
   display: flex;
   align-items: center;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
   color: #7d0481;
}


.product-list {
   width: 90%;
   max-width: 40rem;
   margin: auto;
}