.form-control label,
.form-control input {
   display: block;
}  

.form-control input {
   border: 1px  solid #e7c713;
   font: inherit;
   border-radius: 2px;
}

.form-control {
   margin: 1rem 0;
   width: 100%;
}     

button {
   font: inherit;
   padding: 0.5rem 1.5rem;
   border: 1px solid #7d0481;
   background: white;
   border-radius: 3px;
   color: #7d0481;
   cursor: pointer;
}
button:hover,
button:active {
   background: #7d0481;
   color: white;
}

.product-form{
   width: 20rem;
   max-width: 90%;
   margin: auto;
}
